<html>
   <body>
       <hr>
       <h1 align="center" >BlackJack </h1>
       <form align="center" action = "/comenzar" method = "GET">
           <input type = "submit" value = "Comenzar Juego" id = "btnComenzar" >
       </form>
       <hr>
   </body>
</html>