<html>
    <body>
        <h1>BlackJack</h1>
        <form action = "/comenzar" method = "GET">
            <input type = "submit" value = "Comenzar Juego" id = "btnComenzar" >
        </form>
    </body>
</html>