<html>
    <body>
        <h1>BlackJack</h1>
        <form action = "/comenzar" method = "GET">
            <input type = "submit" value = "Comenzar Juego" id = "btnComenzar" >
        </form>
        
         <form action="/resultado" method="POST">
                <input type = "text" name = "j1"/>
                <input type = "text" name = "j2"/>
                <input type = "submit" value = "Solicitar Cartas" id = "resultado" name = "resultado">
        </form>
    </body>
</html>