<html>
    <body>
        
        <h1 align="center"><%= session["resultado"]%></h1>
        <h2 align="center"><%= session["ganador"]%></h2>
        
         <form method="get" action="/comenzar" align="center">
           <input type="submit" id="reiniciar" value="reiniciar" />
       </form>
    </body>
</html>