<html>
    <body>
        <h1>BlackJack</h1>
        <fieldset >
            <legend>Jugador:</legend>
            <form action="/solicitarCarta" method="GET">
                <label id="lblCartaSolicitada" name = "lblCartaSolicitada" >Carta Solicitada : <%= session["cartaGenerada"] %></label>
                <input type = "text" name = "j11"/>
                <input type = "submit" value = "Solicitar Cartas" id = "btnSolicitarCarta" name = "btnSolicitarCarta">
            </form>
        </fieldset>

        <fieldset >
            <legend>PC:</legend>
            <form action="/solicitarCarta" method="GET">
                <label id="lblCartaSolicitada" name = "lblCartaSolicitada" >Carta Solicitada : <%= session["cartaGenerada"] %></label>
                <input type = "text" name = "j21"/>
                <input type = "submit" value = "Solicitar Cartas" id = "btnSolicitarCartaPC" name = "btnSolicitarCartaPC">
            </form>
        </fieldset>
        
        
    </body>
</html>