<html>
    <body>
        <h1>BlackJack</h1>
        <fieldset >
            <legend>Jugador:</legend>
            <form action="/solicitarCarta" method="GET">
                <label id="lblCartaSolicitada" name = "lblCartaSolicitada" >Carta Solicitada : <%= session["cartaGeneradaJugador"] %></label>
                <input type = "text" name = "j11" value = "<%= session["acumuladoJugador"] %>"/>
                <input type = "hidden" value = "1" name = "valor" />
                <input type = "submit" value = "Solicitar Cartas" id = "btnSolicitarCartaJugador" name = "btnSolicitarCartaJugador">
            </form>
        </fieldset>

        <fieldset >
            <legend>PC:</legend>
            <form action="/solicitarCarta" method="GET">
                <label id="lblCartaSolicitada" name = "lblCartaSolicitada" >Carta Solicitada : <%= session["cartaGeneradaPC"] %></label>
                <input type = "text" name = "j21" value = "<%= session["acumuladoPC"] %>"/>
                <input type = "hidden" value ="2" name = "valor" />
                <input type = "submit" value = "Solicitar Cartas" id = "btnSolicitarCartaPc" name = "btnSolicitarCartaPc">
            </form>
        </fieldset>
        
        
    </body>
</html>